.Contact-containers {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 80%;
  padding: 0;
  margin: auto;
  list-style: none;
}

.Contact-item {
  text-align: center;
  padding: 1em;
}

.Contact-item + .Contact-item {
  border-top: 1px solid lightgrey;
}

.Contact-item:hover:not(.selected) {
  background: lightgrey;
  cursor: pointer;
}

.selected {
  background: lightgreen;
  color: white;
}
